@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&display=swap');
:root{
    --tan: #EECE8c; 
    --brown:#703a1c;
    --orange:#EC8739;
    --off-white: #FFF9F1;
    --white:#ffffff;
    --black:#000000; 
    --light-color:rgb(183, 36, 36);
    --box-shadow:0.5rem 1.5rem rgb(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,0);
    --outline:.1rem solid rgba(0,0,0,0);
    --outline-hover:.2rem solid var(--black);
}
*{
    font-family:'Poppins', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: black; border:black;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size:72.5%;
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-padding-top: 7rem;
}
body{
    background:#FFF9F1;
}
section{
    padding:5rem 9%;
}



/* nav bar metrics */



.heading{
    text-align: right;
    padding:1rem 0; 
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color: var(--black);
}
.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background:#703a1c;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 1rem;
    font-weight: lighter;
    color:var(--white);
}
.header .logo i{
    color:var(--tan);
}
.header .navbar a{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    margin:0 5rem;
    color:var(--white);
}
.header .navbar a{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    margin:0 5rem;
    color:var(--white);
}
.header .navbar a:hover{
    color:var(--tan);
}
.header .icons div{
    height:2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: .5rem;
    background: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
    text-align: center;
    color: #703a1c;
}
.header .icons div:hover{
    background: var(--off-white);
    color: #703a1c;
} 
#menu-btn {
    display: none;
}
.header .search-form {
    position: absolute;
    top: 110%; right: -100%;
    width: 50rem;
    height: 5rem;
    background: #ffffff;
    border-radius:  .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
    text-align: center;
}
.header .search-form label:hover{
    color:var(--tan);
}
.header .login-form{
    position: absolute;
    top: 110%; right: -100rem;
    width: 15rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 1rem;
    background-color:var(--white);
    text-align:  center;
}
.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}
.header .login-form a{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:var(--white);
}
.header .login-form a:hover{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:var(--white);
}
.header.login-form .box{
    margin:.7rem 0;
    background: var(--white);
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}


/*hero image Spoonacular */



.home{ 
    display: flex;
    align-items: center;
    justify-content:  center;
    background-image: url(images/heroimage1.png);
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 15rem;
}

.home .content {
    text-align: left;
    width: 500rem;
}
.home .content h3{
    color:var(--white);
    font-size: 3rem;
}
.home .content h3 span{
    color:var(--tan);
    font-size: 3rem;
}
.home .content p{
    color:var(--white);
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 1.8;
}
.heading {
    font-size:2.5rem;
}

/* recipe of the week hero*/


.tcf-right {
    position: relative;
    padding: 50px 50px;
}
.tcf-right h1 {
    font-size: 4rem;
    color: #703a1c;

}
.tcf-right h2 {
    font-size: 2.2rem;
    color: #703a1c;
}

.tcf-right p {
    font-size: 1.4rem;
    color: var(--black);
}
.tcf-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tcf-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.margin-bottom-24px {
    margin-bottom: 24px;
}
.button-primary{
    padding: 20px;
    border-radius: 10px;
    border-width: 8px;
    background-color: var(--brown);
    margin: .3rem;
    color: #fff;
    line-height: 50px;
}
.button-primary {
    height:3.5rem;
    width: 3.5rem;
    line-height: 2.5rem;
    border-radius: .5rem;
    background: #e6d8bf;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
    text-align: center;
}
.button-primary {
    background-color:var(--brown);
    color: #fff;
}
.button-primary:hover {
    background-color:var(--tan);
    color: #fff;
}
.button-primary:active {
    background-color: var(--tan);
}

.br {
    display: block;
    margin-bottom: 3em;
}
  
.brmedium {
    display: block;
    margin-bottom: 2.5em;
}
  
.brlarge {
    display: block;
    margin-bottom: 3em;
}

.brlarge4 {
    display: block;
    margin-bottom: 20em;
}

/* Media metrics*/


@media screen and (max-width: 991px) {
.container {
     max-width: 728px;
  } 

  .tcf-wrapper{
     margin-bottom: -40px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: start;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
  }
.tcf-left {
     max-width: 100%;
     margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
.tcf-image-left {
     padding: 70px 15px;
  }
}
@media screen and (max-width: 479px) {
.container {
     max-width: none;
  }
}


/* popular recipes cards*/


.card {
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    text-align: center;
    font-family: arial;
    background-color:var(--black);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 300px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
}
  
.cheese-ravioli {
    color: var(--black);
    font-size: 15px;
}
.blueberry {
    color: var(--black);
    font-size: 15px;
}
.caprese-salad {
    color: var(--black);
    font-size: 15px;
}
.avacado-toast {
    color: var(--black);
    font-size: 15px;
}
.card button {
    border: none;
    outline: 10;
    padding: 9px;
    color: var(--tan);
    background-color:var(--brown);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }  
.card button:hover {
    opacity: 0.7;
    color: var(--white);
    background-color:var(--tan);
  }
.pr-features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,2fr));
    gap: 1.5rem;
}


/*border card*/


.pr-features .box-container .card{

 padding:0rem 0rem;
 background: var(--tan);
 outline:var(--outline);
 outline-offset: -5rem;
 text-align: center;
 box-shadow: var(--box-shadow);

}


/* Popular recipes header see more metrics*/


.pr-features h2 {
    background:var(--tan);
    outline: var(--outline);
    outline-offset:1rem;
    text-align: center;
    box-shadow: var(--tan);
}

.pr-features h2:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;  
}
.pr-features h1 {
    font-size: 50px;
    color: var(--brown);
}
.pr-features a {
    font-size: 14px;
    color: var(--brown);
    margin-left: 25px;
}
.pr-features a:hover{
    font-size: 15px;
    color: var(--tan);
}


/* Quick and Easy Cards */


.card {
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    text-align: center;
    font-family: arial;
    background-color:var(--tan);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 300px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
}
.tofu-salad {
    color: var(--black);
    font-size: 15px;
}
.hawaiian-pizza {
    color: var(--black);
    font-size: 15px;
}
.veggie-plate {
    color: var(--black);
    font-size: 15px;
}
.zucchini-pasta {
    color: var(--black);
    font-size: 15px;
}
.card button {
    border: none;
    outline: 10;
    padding: 9px;
    color: var(--white);
    background-color:var(--brown);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button:hover {
    opacity: 0.7;
    color: var(--white);
    background-color:var(--white);
  }
.qe-features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,2fr));
    gap: 1.5rem;
}


/* Quick and easy header see more metrics*/


.qe-features h2 {
    background:var(--tan);
    outline: var(--outline);
    outline-offset:1rem;
    text-align: center;
    box-shadow: var(--tan);
}
.qe-features h2:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.qe-features h1 {
    font-size: 50px;
    color: var(--brown);
}
.qe-features a {
    font-size: 14px;
    color: var(--brown);
    margin-left: 25px;
}
.qe-features a:hover{
    font-size: 15px;
    color: var(--tan);
}


/* Vegan Recipes Cards */


.card {
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    text-align: center;
    font-family: arial;
    background-color:var(--tan);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 300px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
}
.vegan-brusc {
    color: var(--black);
    font-size: 15px;
}
.chickpea-salad {
    color: var(--black);
    font-size: 15px;
}
.veggie-plate {
    color: var(--black);
    font-size: 15px;
}
.avacado-bites {
    color: var(--black);
    font-size: 15px;
}
.card button {
    border: none;
    outline: 10;
    padding: 9px;
    color: var(--white);
    background-color:var(--brown);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button:hover {
    opacity: 0.9;
    color: var(--brown);
    background-color:var(--tan);
  }
.vegan-features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3rem,2fr));
    gap: 1.5rem;
}


/* Vegan Recipes header see more metrics*/


.vegan-features h2 {
    background:var(--tan);
    outline: var(--outline);
    outline-offset:1rem;
    text-align: center;
    box-shadow: var(--orange);
}
.vegan-features h2:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem; 
}
.vegan-features h1 {
    font-size: 50px;
    color: var(--brown);
}
.vegan-features a {
    font-size: 14px;
    color: var(--brown);
    margin-left: 25px;
}
.vegan-features a:hover{
    font-size: 15px;
    color: var(--orange);
}


/*media  nav queries */


@media (max-width:991px){
 html{
    font-size: 55%;    
   }
.header{
    padding:2rem;
   }
   section{
    padding: 2rem;
     }
}
@media (max-width:768px){

#menu-btn {
    display: inline-block;
}
.header .search-form{
    width:90%; 
}
   .header .navbar {
    position:absolute;
    top:110%; right:-110rem;
    width: 20rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #703a1c;
}
.header .navbar.active {
    right:2rem;
    transition: .4s linear;
}
.header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem; 
    display: block;
}

}
@media (max-width:450px){
    html{
     font-size: 50%; 
     margin:2rem;   
    }
 }


/*footer*/


 .footer{
     background: var(--brown);
 }
 .footer .box-container {
     display:grid;
     grid-template-columns:repeat(auto-fit, minmax(25rem,1fr));
     gap:1.5rem; 
 }
.footer .box-container .box h3 {
     font-size:2.5rem;
     color:var(--black);
     padding:1rem 0;
 } 
 .footer{
 position: bottom;
 top:0; left:0; right: 0;
 z-index: 1000;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 3rem 10%;
 background:#703a1c;
 box-shadow: var(--box-shadow);
 }
.footer .footer-link{
    font-size: 2rem;
    font-weight: lighter;
    color:var(--white);
    margin-left: .5rem;
    text-align: center;
}

.footer .footer-link a{
    text-align: center;
    font-size: 1.5rem;
    margin: 5rem   ;
    color:var(--white);
} 
.footer .social{
    font-size: 1rem;
    font-weight:light;
    color:var(--white);
    margin-left: .5rem;
    text-align: center;
}

.footer .social a{
    font-size: 2rem;
    margin:0 1rem;
    color:var(--white);
}


/* New page */ 

/*---------------------------- Quick and easy meals--------------------------------------*/ 

/* ----------QE-Tabs Starts Here-------- */

.tab-select{
padding:0;
margin:10;
font-family:'poppins', sans-serif;
}
.tab-select {
width: 100%;
height:1rem;
position: relative;
margin: 250px auto;
}

.btn-box { 
display: flex;
border-bottom: 2.5px solid var(--brown);  
}  

.btn-box button {
background: var(--brown);
border: none;
outline: none;
cursor: pointer;
padding: 10px 30px;
height: 45px;
border-radius: 15px 15px 0px 0px;
margin-left: 170px;
font-size: 20px;
font-weight: light;
color: var(--white);
}  

.btn-box .qe-tab1{
    background:var(--brown);
color: var(--white);
}

.btn-box .qe-tab1:hover{
    background:var(--tan);
color: var(--brown);
}












/* ----------QE-Tabs End Here-------- */


/* -------------------QE-Breakfast section Stars Here----------- */


.qe-section {
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.qe-section {
    width: 1300px;
    margin: 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    flex-wrap: wrap;
    }
.qe-section .qe-card-content:hover{
        box-shadow: 0 3px 7px rgba(0,0,0,0.1);
        transform: translate(0px, -2px);
    }
    
    /*media --------- Qe Section/ QE card content */
    
    
@media(max-width:12350px) {
.qe-section .qe-card-content {
            width:100%;
        }
    }
    
@media (min-width: 580px){
    .qe-card-content {
      padding: 40px 40px;
      display:flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      float: left;
      width: 60%;
        }
}


    /*QE-card content */

.qe-card-content{
        width:500px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        float: left;
        flex-wrap: wrap;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
    
        transition: .4s;
        background:#FFF9F1;
    }


.qe-card-content{
    max-width: 580px;
    float: right;
    flex-wrap: wrap;
    width: 60%;
    
    box-sizing: border-box
    }

.qe-card-content .cc-body {
    float: left;
    }


.cc-img {
        width:300px;
        height: 300px;
        }
        
.container-card {
            border-radius: 22px;
            overflow: hidden;
          
}
.cc-body {
          display: flex;
          width: 580px;
          min-width: 400px;
          height:300px;
}
.cc-title {
    font-size: 20px;
    color: #703a1c;
    }
.container-content h1 {
        font-size: 4.5rem;
        color: #703a1c;
    }    
.cc-info {
    padding: 5px;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cc-description {
 font-size:12px;
 letter-spacing: .9px;
 color:#703A1C;
}

.fa-solid{
    color: #703A1C;
    opacity: 0.5;
    font-size: 2rem;
}

.spoon-rating{
display: flex;
align-items: center;
justify-content: space-around; 
list-style:none;
margin:0;
padding:-1rem;
width: 150px;
margin: 0 auto; 
}
.spoon-item{
color: #703A1C;
opacity: 0.5;
font-size: 3rem;
}
.cc-button{
display: inline;
background: #703A1C;
color: white;
text-decoration: none;
padding: none;
border-radius: 5px;
width: 80px;
height: 30px;
cursor: pointer;
margin: 1px;
position: relative;
}



.cc-button{
background-color: var(--brown);
    }
.cc-button:hover{
background-color: var(--tan);
color: var(--brown);
}



/*QE-card content */

/* ----------QE-Breakfast section End Here-------- */

/*QE-Breafast: pages line divider/ Heading sizing - start */

.qe-section .line-1  { 
border:0;
border-bottom: 1px solid var(--brown);
}
hr {
    border: none;
    height: 2.5px;
    background: #703A1C;
}

.brlarge1 {
    display: block;
    margin-bottom: 10em;
}

.qe-heading2{
font-size: 50px;
color: #703A1C;
}

.qe-heading1 {

        font-size: 2rem;
        font-weight: 630;
        margin:2rem 2rem 0rem ; 
        color: var(--brown)
      }


/*QE-Breafast: pages line divider/ Heading sizing - end*/


   
/* ----------QE-footer-------- */
.qe-section .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--brown);
    color: white;
    text-align: center;
}
/* ----------QE-footer-------- */




/*----------------------------  RCR Page Starts--------------------------------------*/ 

.rcr-page{
 padding:0;
 margin:0;
 box-sizing: border-box;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height:1vh;

}
/* --------- Recipe Section/ card content metrics-------------- */
.rcr-container{
    width: 100%;
    max-width: 98rem;
    padding: 1rem; 
    display: flex;
    align-items: center;
    border-radius: .8rem;
    color: #703A1C;
    
    }

.rcr-card{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items:  center;
    justify-content: center;
  padding: 0 1.5rem;
  }

.rcr-body {
    width: 100%;
    height: 50vh;
    display: flex;
    min-width: 65rem;
    max-width: 65rem;
    align-items:  center;
    justify-content: center;
  padding: 0 1.5rem;
  }
.rcr-img {
        min-width: 45rem;
        max-width: 50rem;
        height: 40rem;
        transform: translateX(-1rem);
        position: relative;
        }
.rcr-info{
padding: 100px;
max-width: 1210px;
flex-direction: column;
justify-content: space-between;
}
.rcr-title {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.5rem 0 5rem; 
    color: var(--brown)
  }

.rcr-description{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    max-width: 100rem;
    color:var(--brown)
}       
.rcr-card-size{
    min-width: 45rem;
    max-width: 45rem;
align-items:center;
justify-content: space-between;
}

.rcr-spoon-rating{
    
        display: flex;
        font-size: 5.6rem;
        letter-spacing: 1rem;
        list-style: none;
        font-weight: 600;
        margin: 1rem 0 4rem 0; 
        
        }
 



    .ban{
        display: flex;
        color: var(--brown);
        font-size: 1.6rem;
        letter-spacing: .2rem;
        list-style: none;
        font-weight: 600;
        margin: .5rem 0 2rem 0; 
            
            }

/*------  Ingredients Text ------------*/ 

.rcr-text{
font-size: 1rem;
letter-spacing: 1px;
max-width: 150rem;
color:var(--black);
text-transform: uppercase;
margin: 1rem 0 1rem 0; 
text-transform: uppercase;
    transform: translateX(2rem);
    list-style: none;
}
/*------  Instruction Text ------------*/ 
.rcr-text1{
    font-size: .9rem;
    letter-spacing: 1px;
    max-width: 150rem;
    color:var(--black);
    margin: 2rem 0 2rem 0; 
    text-transform: uppercase;
    transform: translateX(2rem);
    list-style: none;
}
   .rcr-text2 {   
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 150rem;
    color:var(--black);
    margin: -3rem 0 2rem 0; 
    text-transform: uppercase;
    list-style: none;
    transform: translateX(2rem);
    list-style: none;
   
    }

.rcr-sub-heading {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    max-width: 100rem;
    color:var(--black);
    text-decoration: underline;
    margin: 0rem 0 0rem 0; 
   text-transform: uppercase;
    transform: translateX(2rem);
    list-style: none;
}

      /*------  Tabs-button metrics recipes page ------------*/ 
      .tab-select1{
        padding:0;
        margin:0;
        font-family:'poppins', sans-serif;
        }
        .tab-select1 {
        width: 100%;
        height:1rem;
        position: relative;
        margin: 50px auto;
        }
        
        .btn-box1 { 
        display: flex;
        border-bottom: 2.5px solid var(--brown);  
        }  
        
        .btn-box1 button {
        background: var(--brown);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 30px;
        height: 40px;
        border-radius: 15px 15px 0px 0px;
        margin-left: 20px;
        font-size: 12px;
        font-weight: light;
        color: var(--white);
        text-transform: uppercase;
        }  
        
        .btn-box1 .qe-tab1{
            background:var(--brown);
        color: var(--white);
        }
        
        .btn-box1 .qe-tab1:hover{
            background:var(--tan);
        color: var(--brown);
        }

/*---Icon metric Spoon-Cheese ravioli----*/
.fa-solid{
    color: #703A1C;
    opacity: 0.5;
    font-size: 2rem;
}

.spoon-rating{
display: flex;
align-items: center;
justify-content: space-around; 
list-style:none;
margin:0;
padding:-1rem;
width: 150px;
margin: 0 auto; 
}
.spoon-item{
color: #703A1C;
opacity: 0.5;
font-size: 3rem;
}

/*---Icon metric Non - Cheese ravioli----*/

.non-ingredent{
    display: flex;
    align-items: right;
    justify-content: space-around; 
    list-style:none;
    margin:0;
    padding:-1rem;
    width: 150px;
    margin: 0 auto; 
}    
.brlarge2 {
    display: block;
    margin-bottom: 2em;
}
/*---Icon metric Cheese ravioli----*/

.cc-button{
display: inline;
background: #703A1C;
color: white;
text-decoration: none;
padding: none;
border-radius: 5px;
width: 80px;
height: 30px;
cursor: pointer;
margin: 1px;
position: relative;
}
.cc-button{
background-color: var(--brown);
    }
.cc-button:hover{
background-color: var(--tan);
color: var(--brown);
}

/*Recipes : pages line divider/ Heading sizing - start */

.qe-section .line-1  { 
border:0;
border-bottom: 1px solid var(--brown);
}
hr {
    border: none;
    height: 2.5px;
    background: #703A1C;
}

.brlarge1 {
    display: block;
    margin-bottom: 10em;
}

.brlarge2 {
    display: block;
    margin-bottom: 2em;
}

.qe-heading2{
font-size: 50px;
color: #703A1C;
}

.qe-heading1 {

    font-size: 65px;
    color: #703A1C;

}

/*------  Recipes page Ends ------------*/

/*------------------------------  MyMeals page Starts -----------------------------*/






      /*------  Tabs-button Mymeals page ------------*/ 
      .tab-select2{
        padding:0;
        margin:0;
        font-family:'poppins', sans-serif;
        }
        .tab-select2 {
        width: 100%;
        height:1rem;
        position: relative;
        margin: 50px auto;
        }
        
        .btn-box2 { 
        display: flex;
        border-bottom: 2.5px solid var(--brown);  
        }  
        
        .btn-box2 button {
        background: var(--brown);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 30px;
        height: 40px;
        border-radius: 15px 15px 0px 0px;
        margin-left: 20px;
        font-size: 12px;
        font-weight: light;
        color: var(--white);
        text-transform: uppercase;
        }  
        
        .btn-box2 .qe-tab1{
            background:var(--brown);
        color: var(--white);
        }
        
        .btn-box2 .qe-tab1:hover{
            background:var(--tan);
        color: var(--brown);
        }

/*------  Tabs-button Mymeals page ------------*/ 

/*------  Heading Mymeals page ------------*/ 

        .rcr-title1 {
            font-size: 4rem;
            font-weight: 600;
            margin:20rem 10rem 0rem ; 
            color: var(--brown)
        }
        .circle-days{
            color: var(--black);
         
            font-size: 1.1rem;
            list-style: none;
        }
        .circle-days{
            display: flex;
            align-items: center;
            justify-content: space-between; 
            list-style:none;
            width: 150px;
           
            }
            .circle-days{
            color: var(--black);
            transform: translateX(-5rem);
            font-size: 1.2rem;
            }

           
       
       .fa-circle-dot{
        margin:0rem 2rem 0rem 2.5rem;
        color: var(--black);
        font-size: 25px;
        transform: translateX(-4rem);
       }

       .fa-circle-dot:hover{
        margin:0rem 2rem 0rem 2.5rem;
        color: var(--brown);
        font-size: 25px;
        transform: translateX(-4rem);
        border: .03s;
       }

       .cc-title1 {
        font-size: 30px;
        color: #703a1c;
        margin:0rem 0rem 5rem 0rem;
        }




/*------------------------------  MyMeals page Ends-----------------------------*/